@charset "utf-8";
/* CSS Document */

html{
	font-size:100%;
}

body{
	-webkit-text-size-adjust: 100%;
	width:100%;
	margin:0px auto;
	padding:0px;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:100%;
	color:#000;
}

#wrap{
	width:100%;
	height:100%;
	margin:0 auto;
	background:url(../images/bg_imag.jpg) no-repeat;
	background-attachment:fixed;
	background-position:center center;

}

#contents{
    max-width:950px;
	margin:0 auto;
	background:#FFF;
	box-shadow: 0 0 5px #555;
	-moz-box-shadow: 0 0 5px #555;
	-o-box-shadow: 0 0 5px #555;
	-ms-box-shadow: 0 0 5px #555;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=0, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=90, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=180, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=270, strength=3, enabled=true);
}

a img{
    border-style:none;
}


footer{
	text-align:center;
	padding:40px 0 20px 0;
	width:100%;
}

footer small{
	font-size:70%;
	margin:0 auto;
	color:#2D635F;
}

footer h2{
	font-size:60%;
	font-weight:300;
	padding:0;
	margin:0;
}

footer span{
	font-size:60%;
	padding:0;
	margin:0;
}

footer ul{
	display:table;
	margin:10px auto;
	width:35%;
	font-size:13px;
}

footer li{
	display:table-cell;
	list-style:none;
	color:#2D635F;
	text-align:center;
	width:auto;
	*display:inline;
	*zoom:1;
}

footer li+li{
  border-left: 1px solid #636363;
}


#back-top {
	position:fixed;
	bottom:10px;
	right:20px;
	max-width:55px;
}

#back-top a {
	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}

ul{
	-webkit-padding-start:0 !important;
	-moz-padding-start:0 !important;
	-ms-padding-start:0 !important;
 }

/* PC&タブレット端末向けCSS */

@media screen and (min-width:768px) {

img{width:100%;}

.nav_pc{
	max-width:950px;
	height:150px;
	background:#FFF;
	position:fixed;
	z-index:1001;
	margin:0 auto;
	box-shadow: 0 0 5px #555;
	-moz-box-shadow: 0 0 5px #555;
	-o-box-shadow: 0 0 5px #555;
	-ms-box-shadow: 0 0 5px #555;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=0, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=90, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=180, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=270, strength=3, enabled=true);
}

.main_site{
	text-align:right;
	padding:0 50px 10px 0;
}

.main_site a{
	text-decoration:none;
	font-size:13px;
	color:#FFF;
	background:#00A67A;
	padding:0 10px;
	border-radius:5px;
}

.main_site a:hover{
	opacity:0.6;
	filter:alpha(opacity=60);
}

ul.g_nav01{
	display:table;
	margin:0 auto;
	width:100%;
	height:25px;
	padding:0 !important;
}

.nav_pc .g_nav01 li{
	display:table-cell;
	width:16%;
	list-style:none;
	text-align:center;
	vertical-align:middle;
	*display:inline;
	*zoom:1;
}

.nav_pc .g_nav01 li+li{
  border-left: 1px solid #636363;
}

.nav_pc .g_nav01 a{
	color:#636363;
	font-size:11px;
	display:block;
	font-weight:bold;
	text-decoration:none;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all  0.2s ease;
}

.nav_pc .g_nav01 a:hover{
	color:#0D6E39;
}

.fd{
	display:none;
}

.time{
	display:none;
}

#nav_sp ul,li{
	display:none;
}

.otoiawase{
	width:100%;
	text-align:center;
}

.otoiawase a{
	width:516px;
	margin:10px auto 0 auto;
	padding:0 !important;
	display:inline-block;
}

.otoiawase{
	width:100%;
}

.tokuten{
	max-width:950px;
	margin:0 auto;
}

#contents01 img.freedial{
	display:none;
}

#contents01{
	max-width:950px;
	margin:0 auto;
	padding-top:150px;
}


#contents02{
	max-width:950px;
	margin:0 auto;
	padding-top:150px;
}

#gallaly{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1%;
    color: #76695a;
    letter-spacing: 1px;
    font-family:  serif;
    font-weight: bold;
}

#gallaly02{
    margin: 5% 0 0;
}

.picture{
    overflow: hidden;  
    padding: 8% 0 0;
}

.picture01{
    overflow: hidden;  
    padding: 0 auto;
}

#gallaly04,
#gallaly09,
#gallaly13,
#gallaly14,
#gallaly17{
    float: left;
    width: 48%;
}

#gallaly06,
#gallaly10,
#gallaly11,
#gallaly15,
#gallaly16{
    float: right;
    width: 48%;
}

#gallaly09,
#gallaly11{  
    width: 40%;
    padding: 5%4%;
    margin: 0 auto;
}

#gallaly14,
#gallaly16{  
    width: 42%;
    padding: 0%4%;
    margin: 0 auto;
}

#first01{
    color: #894fbf;
    font-size:250%;
}

#first02{
    color: #58a35d;
    font-size:250%;
}

#first03{
    color: #acc657;
    font-size:250%;
}

#first04{
    color: #b16e85;
    font-size:250%;
}

#first05{
    color: #587da8;
    font-size:250%;
}

#contents03{
	max-width:950px;
	margin:0 auto;
	padding-top:150px;
}

#architect01{
    margin: 0 0 0 8%;
    width: 90%;
    line-height: 200%;
}

#architect02{
    width: 90%;
    margin: 3% auto;
    line-height: 200%    
}

.comment{
    overflow: hidden;
    margin: 8% auto;
    color: #76695a;
    width: 100%; 
    font-family: 
     "ヒラギノ明朝 ProN","HG明朝E","MS P明朝","MS 明朝",serif;  
}

#house,
#family01,
#family02{
    float: left;
    width: 45%; 
    font-weight: bolder;
}

h4,
#comment10,
#comment12{
    float: right;
    width: 53%;
}

.show-style{
        display:block;
}

#comment05{
    float: left;
    width: 53%;
}

#woman01{
    float: left;
    width: 47%;
    margin-top: 2%;
}

#woman02{
    float: right;
    width: 47%;
    margin-top: 3%;
}

#house{
    width: 100%;
}

h2{
    text-align: center;
    width: 100%;
    background-color:#00A67A;
    color: aliceblue;
    margin: 0 auto;
    font-family:  serif;
    font-size: x-large;
    line-height: 300%;
}

    h3{
    width: 52%;
    float: left; 
    font-weight: bolder;
    }

.show_sp {
  display: none;
}
    
h4{
    text-align: center;
    background-color: #faa7e8;
    color: #FFF;
    margin: 0 auto;
    border-radius: 0.5em;/*角丸*/
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

.red_text{
    color: #b43525;
}

.size01{
    font-size:large;
}

#family02{
        margin-top: 5%;
}

#contents04{
	max-width:950px;
	margin:0 auto;
	padding-top:150px;
}

#voice{
	max-width:950px;
	margin:0 auto;
	padding-top:150px;
}

#contents05{
	max-width:950px;
	margin:0 auto;
	padding-top:150px;
}

#contents06{
	max-width:950px;
	margin:0 auto;
	padding-top:150px;
}

#contents07{
	max-width:950px;
	margin:0 auto;
	padding-top:150px;
	text-align:center;
}

#contents07 iframe{
	width:60%;
	height:260px;
	margin:0 auto;
}
    
#mail_form{
	max-width:950px;
	margin:0 auto;
	padding:150px 0 20px 0;
}

#mail_form table{
	width:85%;
	margin:0 auto;
}

#mail_form table tr{
	height:40px;
}

#mail_form table th{
	font-size:12px;
	width:20%;
	color:#2D635F;
}

#mail_form table td{
	width:45%;
}

.event_name input{
	width:76%;
}

.note{
	font-size:10px;
}

.number_of_people select{
	width:100px;
}

.number_of_people span{
	font-size:12px;
}

#mail_form .mail_form_sp img{
	display:none;
}

#mail_form .mail_form_pc img{
	display:block;
}

#mainform-submit{
	width:70%;
	margin:20px auto 0 auto;
	text-align:center;
}

#mainform-submit input{
	width:30%;
}

.required{
	text-align:right;
}

.required span{
	margin-right:20px;
}

.red{
	font-size:12px;
	color:red;
	font-weight:bold;
}

#agreement img.freedial{
	display:none;
}

#agreement{
	max-width:950px;
	margin:0 auto;
	padding-top:150px;
}

#privacy img.freedial{
	display:none;
}

#privacy{
	max-width:950px;
	margin:0 auto;
	padding-top:150px;
}

}

/* スマホ向けCSS */

@media screen and (max-width:767px) {

#contents02{
        margin-top: 15%;
    }
.comment {
    margin: 5% auto;
    color: #76695a;
    width: 100%;
    font-family:"ヒラギノ明朝 ProN","HG明朝E","MS P明朝","MS 明朝",serif;
}

#gallaly{
    width: 90%;
    margin: 0 auto;                       
    padding-bottom: 1%;
    color: #76695a;
    font-family:  serif;
    font-weight: bold;
}

#gallaly06,
#gallaly20{
    padding-top: 8%;
}

 #gallaly09{
    margin-top: 10%;
    }

#first01{
    color: #894fbf;
    font-size:250%;
}

#first02{
    color: #58a35d;
    font-size:250%;
}

#first03{
    color: #acc657;
    font-size:250%;
}

#first04{
    color: #b16e85;
    font-size:250%;
}

#first05{
    color: #587da8;
    font-size:250%;
}

#architect01{
    margin: 3% auto;
    width: 90%;
    line-height: 200%;   
}

#architect02{
    width: 90%;
    margin: 3% auto;
    line-height: 200%    
}

#house{
    width: 100%;
}

h2{
    text-align: center;
    width: 100%;
    background-color:#00A67A;
    color: aliceblue;
    margin: 15% auto;
    font-family:  serif;
    font-size: x-large;
}

.show_sp {
  display: block;
}
 
h3{
    margin: 20% 0 0 0;
    }

#comment05{
        margin-bottom: 20%;
}  
    
h4{
    text-align: center;
    background-color: #faa7e8;
    color: #FFF;
    margin: 3% auto;
    border-radius: 0.5em;/*角丸*/
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

.show-style{
        display: none;
    }

.red_text{
    color: #b43525;
}

.size01{
    font-size:large;
}

#family02{
        margin-top: 5%;
}


/* グローバルナビ */

.nav_sp{
	display:block;
	width:98%;
	margin:5% auto;
}

.g_nav01_sp{
	display:table;
	table-layout:fixed;
	margin:0 auto;
	padding:0;
	border-spacing:20px 3px;
	border-collapse: separate;
}

.g_nav01_sp ul{
	margin:0 auto;
}

.g_nav01_sp li{
	display:table-cell;
	list-style:none;
}

.nav_pc{
	display:none;
}

.fd{
	width:95%;
	text-align:right;
	display:inline-block;
}

.fd span{
	font-weight:bold;
	font-size:1.2rem;
	padding-left:2.5em;
	background:url(../images/fb.jpg) no-repeat left;
}

.time{
	width:95%;
	text-align:right;
}

.time span{
	font-weight:bold;
	font-size:80%;
	color:#1B1B1B;
}

.g_nav01{
	display:none;
}

/* メインコンテンツ */

.otoiawase{
	display:block;
	width:90%;
	margin:0 auto 5% auto;
}

.otoiawase img{
	width:100%;
}

.tokuten img{
	display:block;
	width:100%;
}

#contents01 img.freedial{
	display:block;
	width:100%;
}

#contents01 img{
	display:block;
	width:100%;
}

#contents02 img{
	display:block;
	width:100%;
}

#contents03 img{
	display:block;
	width:100%;
}

#contents04 img{
	display:block;
	width:100%;
}

#voice img{
	display:block;
	width:100%;
}

#contents05 img{
	display:block;
	width:100%;
}

#contents06 img{
	display:block;
	width:100%;
}

#contents07 img{
	display:block;
	width:100%;
}

#contents07 iframe{
	width:90%;
	padding:3%;
}

.mail_form_sp_title img{
	display:block;
	width:100%;
}

#mail_form{
	width:96%;
	margin:5% auto 0 auto;
	padding-bottom:20%;
}

#mail_form table{
	width:96%;
	margin:5% auto;
}

#mail_form table tr{
	height:50px;
}

#mail_form table th{
	font-size:70%;
	width:20%;
}

#mail_form table td{
	width:70%;
}

#mail_form table input{
	width:90%;
}

.note{
	font-size:65%;
}

.note br{
	display:none;
}

.number_of_people select{
	width:40%;
	margin:3% 0;
}

.number_of_people span{
	font-size:75%;
}

#mail_form table textarea{
	width:90%;
}

#mail_form .mail_form_sp img{
	display:none;
}

#mail_form .mail_form_pc img{
	display:block;
}

#mainform-submit{
	width:70%;
	margin:0 auto;
	text-align:center;
}

#mainform-submit input{
	width:30%;
}

.required{
	text-align:right;
	width:100%;
}

.required span{
	margin-right:5%;
}

.red{
	font-size:85%;
	color:red;
	font-weight:bold;
}

footer ul{
	width:60%;
}

#agreement img.freedial{
	display:block;
	width:100%;
}

#agreement img{
	display:block;
	width:100%;
}

#privacy img.freedial{
	display:block;
	width:100%;
}

#privacy img{
	display:block;
	width:100%;
}

}
