@charset "utf-8";
/* CSS Document */

html{
	font-size:100%;
	
}

body{
	-webkit-text-size-adjust: 100%;
	width:100%;
	margin:0px auto;
	padding:0px;
	font-family: 'Noto Serif JP', serif;
	font-size:100%;
	color:#000;
}

#wrap{
	width:100%;
	height:100%;
	margin:0 auto;
	background:url(../images/bg_imag.jpg) no-repeat;
	background-attachment:fixed;
	background-position:center center;
	
}

#contents{
    max-width:950px;
	margin:0 auto;
	background:#FFF;
}

a img{
    border-style:none;
}

footer{
	text-align:center;
	padding:40px 0 20px 0;
	width:100%;
}

footer small{
	font-size:70%;
	margin:0 auto;
	color:#2D635F;
}

footer h2{
	font-size:60%;
	font-weight:300;
	padding:0;
	margin:0;
}

footer span{
	font-size:60%;
	padding:0;
	margin:0;
}

footer ul{
	display:table;
	margin:10px auto;
	width:35%;
}

footer li{
	display:table-cell;
	list-style:none;
	color:#2D635F;
	text-align:center;
	width:auto;
	*display:inline;
	*zoom:1;
}

footer li+li{
  border-left: 1px solid #636363;
}


#back-top {
	position:fixed;
	bottom:10px;
	right:20px;
	width:55px;
}

#back-top a {
	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}

ul{
	-webkit-padding-start:0 !important;
	-moz-padding-start:0 !important;
	-ms-padding-start:0 !important;
}

/* PC&タブレット端末向けCSS */

@media screen and (min-width:768px) {

.nav_pc{
	display: block;
	max-width:950px;
	height:140px;
	background:#FFF;
	position:fixed;
	z-index:1001;
	margin:0 auto;
	box-shadow: 0 0 5px #555;
	-moz-box-shadow: 0 0 5px #555;
	-o-box-shadow: 0 0 5px #555;
	-ms-box-shadow: 0 0 5px #555;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=0, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=90, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=180, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=270, strength=3, enabled=true);
}

header{
	display: none;
}

.freedial{
	width: 100%;
	height: 0 auto;
}

.main_site{
	text-align:right;
	padding:0 50px 10px 0;
}

.main_site a{
	text-decoration:none;
	font-size:13px;
	color:#FFF;
	background:#00A67A;
	padding:0 10px;
	border-radius:5px;
}

.main_site a:hover{
	opacity:0.6;
	filter:alpha(opacity=60);
}

ul.g_nav01{
	display:table;
	margin:0 auto;
	width:80%;
	height:25px;
}

.nav_pc .g_nav01 li{
	display:table-cell;
	list-style:none;
	text-align:center;
	*display:inline;
	*zoom:1;
}

.nav_pc .g_nav01 li+li{
  border-left: 1px solid #636363;
}

.nav_pc .g_nav01 a{
	color:#636363;
	font-size:13px;
	font-weight:bold;
	font-family:"メイリオ", Meiryo, sans-serif;
	text-decoration:none;
}

.fd{
	display:none;
}

.time{
	display:none;
}

#nav_sp ul,li{
	display:none;
}

.otoiawase{
	width:100%;
	text-align:center;
}

.otoiawase a{
	width:516px;
	margin:10px auto 0 auto;
	padding:0 !important;
	display:inline-block;
}

.otoiawase{
	width:100%;
}

.tokuten{
	max-width:950px;
	margin:0 auto;
	padding-top:140px;
}

#contents01-logobox1,
#contents01-logobox2{
	display: none;
}

#contents01 p{
	display: none;
}

#contents01{
	max-width:950px;
	margin:0 auto;
	padding-top:140px;
}

#contents01 img{
	width: 100%;
	height: 0 auto;
}

#contents02{
	max-width:950px;
	margin:0 auto;
	padding-top:140px;
	background-image: url(../images/contents02-3_image.png);
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: right bottom 30%;
}

#contents02-1{
	line-height: 180%;
	padding: 0 80px 0 80px;
	margin: 50px;
}

#contents02-1text{
	margin-bottom: 50px;
}

#contents02-1 h3{
	display: inline;
	font-size: 1.5rem;
}

#contents02-2{
	text-align: center;
}

#contents02-2 img{
	width: 95%;
	height: 0 auto;
}

#contents03{
	max-width:950px;
	margin:0 auto;
	padding-top:140px;
}

#contents03 p{
	padding: 5px 0 30px 0;
}


#contents03-top{
	width: 100%;
	height: 0 auto;
}

#contents03-1_img,
#contents03-2_img,
#contents03-3_img,
#contents03-4_img{
	width: 40%;
	height: 100%;
	margin-left: 20px;
}

#contents03-0{
	padding: 0 70px 0 70px;
}

#contents-3-1{
	position: relative;
}

#contents03-1 h1,
#contents03-2 h1,
#contents03-3 h1,
#contents03-4 h1{
	display: inline-block;
	margin-top: 10px;
	font-size: 2.3rem;
	color: #2D635F;
	position: absolute;
}

#contents03-text{
	display: inline-block;
	margin-left: 10%;
}

#contents03-3image,
#contents03-4image{
	text-align: center;
	margin: 20px 0 20px 0;
}

#contents03-3image img{
	width: 100%;
	height: 0 auto;
}

#contents03-4image img{
	width: 0 auto;
	height: 100%;
}

#contents03-1text,
#contents04-1text{
	width: 50%;
	float: right;
	padding: 20px;
	box-sizing: border-box;
}

#contents03-2text,
#contents04-2text{
	width: 50%;
	float: left;
	padding: 20px;
	box-sizing: border-box;
}

#contents04{
	max-width:950px;
	margin:0 auto;
	padding-top:140px;
}

#contents04 img{
	width: 100%;
	height: 0 auto;
}

#contents04_title,
#contents04_sp,
#contents04 p,
#contents04_num{
	display: none;
}

#contents04 .nav_sekoujirei_sp{
	display:none;
}

#contents04 .nav_sekoujirei{
	max-width:950px;
	margin:40px auto 0 auto;
}

#contents04 .nav_sekoujirei ul{
	display:table;
	table-layout: fixed;
	width:95%;
	margin:0 auto;
}

#contents04 .nav_sekoujirei li{
	display:table-cell;
	text-align:center;
	padding:0;
}

#contents04 .nav_sekoujirei li span{
	font-size:93%;
	font-family: "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E";
	font-weight:500;
	color:#248379;
}

#contents04 .nav_sekoujirei li img{
	width:70%;
}

#contents04 .nav_sekoujirei li a:hover{
	opacity:0.6;
	filter:alpha(opacity=60);
}

#sekoujirei01,
#sekoujirei02,
#sekoujirei03,
#sekoujirei04{
	width:100%;
	margin:20px auto;
	padding-top:100px;
}

#sekoujirei01 h1,
#sekoujirei02 h1,
#sekoujirei03 h1,
#sekoujirei04 h1{
	font-size:2rem;
	font-family: "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E";
	font-weight:500;
	color:#248379;
	margin-left:5%;
}

.overview_sp{
	display:none;
}

.overview_pc table{
	max-width:940px;
	margin:5% auto;
	border-spacing:10px;
}

.overview_pc td{
	padding:4px 20px;
	text-align:center;
}

.overview_pc td.green_bg{
	background:#248379;
	color:#FFF;
	padding:4px 20px;
	text-align:center;
}

.overview_pc img{
	max-width:950px;
}

#voice .syashin img{
	margin-top: 10%;
}

.syashin img {
	width: 100%;
	height: 0 auto;
}


#voice .parent {
	max-width: 950px;
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-around;
}

.flex_left,
.flex_right{
	width: 40%;
	margin: 3% 3% 3% 3%;
}

.flex_left img,
.flex_right img{
	width: 100%;
	box-shadow: 2px 2px 4px grey;
}

#voice h4{
	font-family: serif;
}

#voice h4 .koe3,h4 .koe4{
	padding-right: 15px;
}

#voice .koe3,.koe4{
	font-size: 20px;
	color: #360;
	font-weiht: hold;
}

#contents05{
	max-width:950px;
	margin:0 auto;
	padding-top:140px;
	text-align: center;
}

#contents05-1,
#contents05-2,
#contents05-3,
#contents05-4,
#contents05-5,
#contents05-6,
#contents05-7,
#contents05-8{
	width:33%;
	padding: 20px 2% 0 2%;
	box-sizing: border-box;
	float: left;
}

#contents05-4{
	margin: 0 5% 0 10%;
}

#contents05-5{
	margin: 0 10% 0 5%;
}

#contents05-photo{
	width: 100%;
	height: 0 auto;
}

#contents05-top{
	width: 100%;
	height: 0 auto;
}

#contents05-sub{
	width: 100%;
	height: 0 auto;
	margin-top:  20px;
}

.otoiawase{
	margin-top: 10%;
}

#contents06{
	max-width:950px;
	margin:0 auto;
	padding:100px 30px 0 30px;

}

#contents06 h1{
	font-size: 2.3rem;
	color: #2D635F;
	border-bottom: solid 1px #2D635F;
}

#contents06-text{
	padding: 10px 50px 50px 50px;
}

#contents06-text p{
	margin: 30px 0 30px 0;
}

#contents06-highlight{
	display: inline;
	font-size: 1.3rem;
	color: #2D635F;
	border-bottom: solid 1px #2D635F;
}

#contents06-img {
	text-align: center;
}

#contents07{
	max-width:950px;	
	margin:0 auto;
	padding:140px 30px 0 30px;
}

#contents07-num{
	background-color: #2D635F;
	height: 2.4rem;
	width: 2.4rem;
	border-radius: 2px;
	text-align: center;
	display: inline-block;
	margin-right: 10px;
}

#contents07-num span{
	display: inline-block;
	color: #FFF;
	font-size: 1.2rem;
	padding-top: 5px;
}

#contents07-num-text{
	display: inline-block;
	font-size: 0.8rem;
	width: 50%;
	height: 0 auto;
	vertical-align: middle;
	padding: 0 0 10px 20px;
}

#contents07 h1{
	font-size: 2.3rem;
	color: #2D635F;
	border-bottom: solid 1px #2D635F;
}

#contents07 h2{
	font-size: 2rem;
	color: #2D635F;
	display: inline-block;
}

#contents07 h3{
	font-size: 1.3rem;
	color: #2D635F;
}

#border{
	border-bottom: solid 1px #2D635F;
}

#contents07-text{
	margin: 5%;
}

#contents07-highlight{
	font-size: 1.2rem;
}

#contents07-img{
	text-align: center;
}

#contents07-img img{
	width: 100%;
	height: 0 auto;
}

#contents07-tel{
	width: 100%;
	height: 0 auto;
}

#contents07 iframe{
	width:60%;
	height:260px;
	margin:0 auto;
}

#gmap{
	text-align: center;
}

#mail_form{
	max-width:950px;
	margin:0 auto;
	padding:140px 0 20px 0;
}

#form-title{
	width: 100%;
	height: 0 auto;
}


#mail_form table{
	width:85%;
	margin:0 auto;
}

#mail_form table tr{
	height:40px;
}

#mail_form table th{
	font-size:12px;
	width:20%;
	color:#2D635F;
}

#mail_form table td{
	width:45%;
}

.event_name input{
	width:76%;
}

.note{
	font-size:10px;
}

.number_of_people select{
	width:100px;
}

.number_of_people span{
	font-size:12px;
}

#mail_form .mail_form_sp img{
	display:none;
}

#mail_form .mail_form_pc img{ 
	display:block;
}

#mainform-submit{
	width:70%;
	margin:20px auto 0 auto;
	text-align:center;
}

#mainform-submit input{
	width:30%;
}

.required{
	text-align:right;
}

.required span{
	margin-right:20px;
}

.red{
	font-size:12px;
	color:red;
	font-weight:bold;
}

footer ul{
	font-size:13px;
}


#agreement img.freedial{
	display:none;
}

#agreement{
	max-width:950px;
	margin:0 auto;
	padding-top:105px;
}

#privacy img.freedial{
	display:none;
}

#privacy{
	max-width:950px;
	margin:0 auto;
	/*padding-top:105px;*/
}

/* micro clearfx */
.cf:before,
.cf:after{
	content: "";
	display: table;
}
.cf:after{ clear: both; }
.cf{ zoom: 1; } /* For IE 6/7 */
}


/* スマホ向けCSS */

@media screen and (max-width:767px) {

#contents{
	width:100%;
}

.nav_pc{
	display: none;	
}

.g_nav01{
	display:none;
}

header{
	position: fixed;
	background-color: #FFF;
	box-shadow: 0 0 5px #555;
	height: 185px;
	z-index: 1001;
}

.freedial{
	display: none;
}

#contents01{
	text-align: center;
	width: 100%;
}

#contents01 p{
	margin: 0 0 10px 0;
	font-size: 0.6rem;
}

#contents01-logobox1{
	width: 30%;
	display: inline-block;
}

#contents01-logoimg1{
	width: 100%;
	height: 0 auto;
	padding: 10px 0 0px 0;
}

#contents01-logobox2{
	display: block;
	width: 80%;
	display: inline-block;
	background-color: #2D635F;
	border-radius: 2px;
	padding: 5px;
	margin: 0 0 10px 0;
	text-align: center;
	transition: .3s;
	background-size: 200%;
	border: 0.5px solid #FFF;
	box-shadow: 0px 0px 0px 3px #2D635F;
}

#contents01-logobox2:hover{
	background-color: rgb(99, 163, 159);
	box-shadow: 0px 0px 0px 3px rgb(99, 163, 159);
}

#contents01-logobox2 a {
	text-decoration: none;
}

#contents01-logobox2 span{
	display: inline;
	color: #FFF;
	font-size: 1rem;
}

#contents01-logoimg2{
	width: 50%;
	height: 0auto;
	margin-right: 5px;
	vertical-align:middle;
}

.phone-icon:before {
	font-family: "Font Awesome 5 Free";
	content: "\f095";
	font-weight: 900;
	padding-right: 5px;
	color: #FFF;
  }

#top_img_sp{
	margin-top: 185px;
}


.g_nav01_sp{
	display:table;
	table-layout:fixed;
	margin:1% auto;
	padding:0;
	
} 

/* メインコンテンツ */

.otoiawase{
	display:block;
	width:90%;
	margin:20px auto 5% auto;
}

.otoiawase img{
	width:100%;
}

#top_img_sp{
	width: 100%;
	height: 0 auto;
}

#contents02 img{
	display:block;
	width:100%;
}

#contents02-1{
	line-height: 150%;
	padding: 0 20px 0 20px;
}

#contents02-1text{
	margin-bottom: 50px;
	font-size: 0.8rem;
}

#contents02-1 h3{
	display: inline;
	font-size: 1.3rem;
}

#contents02-2 img{
	width: 100%;
	height: 0 auto;
}


#contents03 img{
	display:block;
	width:100%;
}

#contents03{
	margin:0 auto;
}

#contents03-0{
	padding: 0 20px 0 20px;
}

#contents03 p{
	padding: 0;
	margin: 0;
	font-size: 0.9rem;
}

#contents03-top{
	width: 100%;
	height: 0 auto;
}

#contents03-1_img,
#contents03-2_img,
#contents03-3_img,
#contents03-4_img{
	width: 80%;
	height: 100%;
}

#contents-3-1{
	position: relative;
}

#contents03-1 h1,
#contents03-2 h1,
#contents03-3 h1,
#contents03-4 h1{
	display: inline-block;
	margin-top: 50px;
	font-size: 2.3rem;
	color: #2D635F;
	position: absolute;
}

#contents03-1 h2,
#contents03-2 h2,
#contents03-3 h2,
#contents03-4 h2{
	display: inline-block;
	margin: 50px 0 20px 55px;
	font-size: 1.2rem;
}

#contents03-3image,
#contents03-4image{
	text-align: center;
	margin: 20px 0 20px 0;
}

#contents03-3image img,
#contents03-4image img{
	width: 100%;
	height: 0 auto;
}

#contents03-1text,
#contents04-1text,
#contents03-2text,
#contents04-2text{
	padding: 20px;
	box-sizing: border-box;
}

#contents04_pc{
	display: none;
}

#contents04_title,
#contents04_sp img{
	display:block;
	width:100%;
}

#contents04_title{
	margin: 20px;
	color: #2D635F;
	font-size: 0.8rem;
}

#contents04_sp{
	margin: 20px 0 20px 0;
	position: relative;
}

/*--- オーバーレイ ---*/
.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: rgba(153, 153, 153, 0.1);
}

/* モーダル */
.modal {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  width: 70%;
  height: 0 auto;
  padding: 20px;
  margin: auto;
  background-color: rgb(212, 206, 121);
  border-radius: 5px;
}

.modal h3{
	color: #2D635F;
	font-size: 1.7rem;
}

.modal .modalTxt {
  font-size: 0.8rem;
  font-weight: normal;
  margin-bottom: 20px;
  color: #000;
}

.modal .close {
  text-align: center;
  cursor: pointer;
}

.modalBtn{
	height: 40px;
	width: 40px;
	border-radius: 20px;
	background-color: #2D635F;
	text-align: center;
	vertical-align: middle;
}

.modalBtn span{
	display: inline-block;
	color: #fff;
	padding: 7px;
}

/* モーダルボタン位置 */
.modalBtn04{
	position: absolute;
	top: 5%;
	left: 3%;
}

.modalBtn02{
	position: absolute;
	top: 5%;
	left: 28%;
}

.modalBtn03{
	position: absolute;
	top: 5%;
	right: 28%;
}

.modalBtn01{
	position: absolute;
	top: 50%;
	left: 15%;
}

.modalBtn05{
	position: absolute;
	top: 50%;
	left: 48%;
}

#contents04 .nav_sekoujirei{
	display:none;
}

#contents04 .nav_sekoujirei_sp{
	display:block;
	width:95%;
	margin:2% auto;	
}

#contents04 .nav_sekoujirei_sp ul{
	display:table;
	table-layout: fixed;
	width:95%;
	margin:0 auto;
}

#contents04 .nav_sekoujirei_sp li{
	display:table-cell;
	text-align:center;
	padding:0;
}

#contents04 .nav_sekoujirei li img{
	width:70%;
}

#contents04 .nav_sekoujirei li a:hover{
	opacity:0.6;
	filter:alpha(opacity=60);
}

#sekoujirei01,
#sekoujirei02,
#sekoujirei03,
#sekoujirei04{
	width:100%;
	margin:20px auto;
}

#sekoujirei01 h1,
#sekoujirei02 h1,
#sekoujirei03 h1,
#sekoujirei04 h1{
	font-size:2rem;
	font-family: "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E";
	font-weight:500;
	color:#248379;
	margin-left:5%;
}

.overview_pc{
	display:none;
}

.overview_sp table{
	width:100%;
	margin:5% auto;
	border-spacing:2%;
}

.overview_sp td{
	text-align:center;
}

.overview_sp td.green_bg{
	background:#248379;
	color:#FFF;
	text-align:center;
}

.overview_sp img{
	width:100%;
}

#voice img{
	display:block;
	width:100%;
}

#voice .syashin img{
	margin-top: 5%;
}


#voice .parent {
	max-width: 950px;
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-around;
}

.flex_left,
.flex_right{
	width: 80%;
	margin: 5% 0 5% 0;
}

.flex_left img,
.flex_right img{
	width: 100%;
	box-shadow: 2px 2px 4px grey;
}

#voice h4{
	font-family: serif;
}

#voice h4 .koe3,h4 .koe4{
	padding-right: 15px;
}

#voice .koe3,.koe4{
	font-size: 20px;
	color: #360;
	font-weiht: bold;
}

#contents05{
	text-align: center;
}

#contents05-top,
#contents05-sub,
#contents05-photo{
	display:block;
	width:100%;
}

#contents05-1,
#contents05-2,
#contents05-3,
#contents05-4,
#contents05-5,
#contents05-6,
#contents05-7,
#contents05-8{
	margin: 0 20px 0 20px;
}

#contents05-icon{
	height: 50px;
	margin: 10px 0 10px 0;	
	vertical-align: middle;
}

#contents05 h3{
	display: inline-block;	
}

#contents05 p{
	margin-bottom: 50px;
}

#contents06{
	padding:50px 20px 0 20px;
}

#contents06 img{
	display:block;
	width:100%;
}

#contents06 h1{
	font-size: 1.5rem;
	color: #2D635F;
	border-bottom: solid 1px #2D635F;
}

#contents06-text p{
	margin: 30px 0 30px 0;
}

#contents06-highlight{
	display: inline;
	font-size: 1.3rem;
	color: #2D635F;
	border-bottom: solid 1px #2D635F;
}

#contents06-img p{
	text-align: center;
}

#contents07{
	padding:50px 20px 0 20px;
}

#contents07-num{
	background-color: #2D635F;
	height: 2.2rem;
	width: 2.2rem;
	border-radius: 2px;
	text-align: center;
	display: inline-block;
	margin-right: 10px;
}

#contents07-num span{
	display: inline-block;
	color: #FFF;
	font-size: 1.2rem;
	padding-top: 2px;
}

#contents07-num-text{
	font-size: 0.7rem;
}

#contents07 h1{
	font-size: 1.5rem;
	color: #2D635F;
	border-bottom: solid 1px #2D635F;
}

#contents07 h2{
	font-size: 1.1rem;
	color: #2D635F;
	display: inline-block;
}

#contents07 h3{
	font-size: 1.1rem;
	color: #2D635F;
}

#border{
	border-bottom: solid 1px #2D635F;
}

#contents07-reform{
	font-size: 0.9rem;
}

#contents07-highlight{
	font-size: 1.1rem;
}

#contents07 img{
	display:block;
	width:100%;
}

#contents07 iframe{
	width:100%;
}

.mail_form_sp_title img{
	display:block;
	width:100%;
}

#mail_form{
	width:96%;
	margin:5% auto 0 auto;
	padding-bottom:20%;	
}

#mail_form table{
	width:96%;
	margin:5% auto;
}

#mail_form table tr{
	height:50px;
}

#mail_form table th{
	font-size:70%;
	width:20%;
}

#mail_form table td{
	width:70%;
}

#mail_form table input{
	width:90%;
}

.note{
	font-size:65%;
}

.note br{
	display:none;
}

.number_of_people select{
	width:40%;
	margin:3% 0;
}

.number_of_people span{
	font-size:75%;
}

#mail_form table textarea{
	width:90%;
}

#mail_form .mail_form_sp img{
	display:none;
}

#mail_form .mail_form_pc img{ 
	display:block;
}

#mainform-submit{
	width:70%;
	margin:0 auto;
	text-align:center;
}

#mainform-submit input{
	width:30%;
}

.required{
	text-align:right;
	width:100%;
}

.required span{
	margin-right:5%;
}

.red{
	font-size:85%;
	color:red;
	font-weight:bold;
}

footer ul{
	width: 60%;
}

#agreement img.freedial{
	display:block;
	width:100%;
}

#agreement img{
	display:block;
	width:100%;
}

#privacy img.freedial{
	display:block;
	width:100%;
}

#privacy img{
	display:block;
	width:100%;
}

/* micro clearfx */
.cf:before,
.cf:after{
	content: "";
	display: table;
}
.cf:after{ clear: both; }
.cf{ zoom: 1; } /* For IE 6/7 */
}

}
